section{
    width: 30%;
    display: flex;
    flex-direction: column;
    position:fixed;
    top: 30%;
    left:35%;
}
.search-container{
    height: 30px;
}
.list-container{
    margin-top: 2.5rem;
    height: 50%;
}