.item-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:white;
    border-radius: 0.3rem;
    margin: 1rem 0;
    white-space:pre-wrap;
}
.item1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}